html {
    font-size: 12px;
    font-family: "Courgette";
    background: linear-gradient(to bottom, rgb(177, 162, 197), #c5ba8b);
    width: 100vw;
    height: 100vh;
}

h1 {
    margin-top: 8%;
    margin-left: 8%;
    font-size: 30px;
}

h2 {
    margin-top: 1%;
    margin-left: 8%;
    font-size: 20px;
}

h3 {
    margin-top: 1%;
    margin-left: 8%;
    font-size: 20px;
}

h4 {
    margin-top: 1%;
    margin-left: 8%;
    font-size: 20px;
}

.inputs {
    margin-top: 3%;
    margin-left: 10%;
    font-size: 20px;
}

textarea {
    font-family: "Courgette";
    font-size: 20px
}

button {
    margin-left: 88%;
    margin-top: 1%;
    font-size: 20px;
    font-family: "Courgette";
    background-color: rgb(236, 218, 237);
    color: rgb(8, 0, 0);
}